VITE_SUPABASE_URL=https://jrwplrptzvcrtsnfysqd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impyd3BscnB0enZjcnRzbmZ5c3FkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3MzUzMjI2NzcsImV4cCI6MjA1MDg5ODY3N30.UGucjeIRao5FHS359sDpTHUbr6zQJzR5IPN-V0BK8kY